{% extends "layout.html" %}

{% block title %}
    Employee
{% endblock %}

{% block main %}
Hello, {{ username}}

 <h5>Please fill in your information</h5>

    <form action="/employeecont" method="post">

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Full Name" type="text">
        </div>
        <div class="form-group">
            <select name="degree">Degree
                <option value ="No degree" selected>No degree</option>
                <option value="Bachelor's">Bachelor's</option>
                <option value="Master's">Master's</option>
                <option value="PhD">PhD</option>
            </select>
        </div>
        <!--<div class="form-group">-->
        <!--    <input class="form-control" autocomplete="off" autofocus name="major" placeholder="Major" type="text">-->
        <!--</div>-->
        <div class="form-group">
            <select name="major">
                <option value ="type" disabled selected>Major</option>
                <option value="No major">No major</option>
                {% for row in majors %}
                    <option value="{{ row.major }}">{{ row.major }}</option>

                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" autocomplete="off" autofocus name="years" placeholder="Years of Experience" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" autocomplete="off" autofocus name="email" placeholder="Email" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" autocomplete="off" autofocus name="phone" placeholder="Phone Number (optional)" type="text">
        </div>
       <div class="form-group">
            <input class="form-control" autocomplete="off" autofocus name="address" placeholder="Address" type="text">
        </div>

        <button class="btn btn-primary" type="submit">Register</button>
    </form>




{% endblock %}
